#cointainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
}
.con{
    border-radius: 1px;
    border-color: black;
    border-style: solid;
    width: 40%;
    height:0% ;        
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}